body{
    text-align:center;
}

html,a{
    background: black;
    color: rgb(229, 229, 97);
}

p,ul,.index{
    color: floralwhite;
}

img{
    border-radius: 30px;
}

ul{
    list-style: none;
}
